/* Navbar.css */
.navbar-drawer {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  transition: right 0.3s ease;
  z-index: 1045;
}

.navbar-drawer.open {
  right: 0;
}

.drawer-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-link::after {
  display: none !important;
}

body.navbar-open {
  overflow: hidden;
}
